/* styles.css */

/* Reset default margin and padding */
html, body, div, p, input, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

#zip,
#feeling,
#generate {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}

#generate {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.weatherData {
  display: none;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
}

.weatherData p {
  font-size: 16px;
  margin-bottom: 8px;
}

.weatherData span {
  font-weight: bold;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
  /* Blue color, you can change it to your preferred color */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  /* Adjust styles for screens with a maximum width of 600px */
  .container {
      margin-bottom: 10px;
  }

  label {
      font-size: 16px;
  }

  #zip,
  #feeling {
      font-size: 14px;
  }

  #generate {
      font-size: 14px;
      padding: 6px 12px;
  }

  .weatherData {
      max-width: 250px;
  }

  .weatherData p {
      font-size: 14px;
      margin-bottom: 6px;
  }

  h1 {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
}
